<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>SMS SPAM HAM Classifier API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>SMS SPAM HAM Classifier</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	Enter SMS: <input type="text" name="message" placeholder=" " required="required" /><br>
        <button type="Submit" class="btn btn-primary btn-block btn-large">SMS Outcome</button>
    </form>

   <br>
   <br>
   <b style="color:green;font-size:24px;">{{ prediction_text }}</b>

 </div>


</body>
</html>
